
header { background-color: #138ec0; height: 40px; margin-bottom: 10px; color: #FFF; }

header img { height: 40px; padding: 5px; }
header img:hover { background-color: #0F729A; }

header div.right-controls { font-size: 0.8em; }

header .inline-list > li { margin: 0; height: 40px; }
header .inline-list > li:hover { background-color: #0F729A; }

header .inline-list > li:hover span,
header .inline-list > li:hover form { border-left-color: #0F729A; }

header .inline-list > li:hover ~ li span,
header .inline-list > li:hover ~ li form { border-left-color: #138ec0; }

header .inline-list > li:first-child span,
header .inline-list > li:first-child form { border-left: none; }

header .inline-list > li span,
header .inline-list > li form { margin-top: 10px; padding-left: 0.6875em; padding-right: 0.6875em; border-left: 1px solid #FFF; }

header a, header a:hover, header a:visited { color: #FFF; display: inline-block; }
header form { margin: 0; }


nav { padding-left: 10px;}

.sub-nav dt.active a, .sub-nav dd.active a { background: #138ec0; }

button.calendar { 
	background-image: url(/static/img/Calendar_font_awesome.svg);
	background-repeat:no-repeat;
	background-size: auto 70%;
	background-position: center;
}

div.entry-row span.delete { font-size: 0.8em; color: #888; }

div.sun-title,
div.mon-title,
div.tue-title,
div.wed-title,
div.thu-title,
div.fri-title,
div.sat-title { text-align: center; }

div.total-title { height: inherit; }

div.title-row { padding: 5px 0 5px 0; margin-bottom: 10px; }

div.total-title,
div.row-total,
div.sun-total,
div.mon-total,
div.tue-total,
div.wed-total,
div.thu-total,
div.fri-total,
div.sat-total,
div.grand-total,
div.hours input[type="text"] { text-align: right; }

div.row-total,
div.sun-total,
div.mon-total,
div.tue-total,
div.wed-total,
div.thu-total,
div.fri-total,
div.sat-total,
div.grand-total {  }

div.comment-row { padding-bottom: 5px; }

div.row-total { padding-top: 5px; }

div.comment input[type="text"],
div.hours input[type="text"] { margin: 0 0 0.5em 0; }

div.comment input[type="text"][data-dirty],
div.hours input[type="text"][data-dirty] { border-color: #555; }

div.sun-total span,
div.mon-total span,
div.tue-total span,
div.wed-total span,
div.thu-total span,
div.fri-total span,
div.sat-total span { padding-right: 5px; }

div.grand-total-row { padding-top: 10px;}

div.task-name-row { padding-top: 10px; }

div.controls-row { padding-top: 20px; }


div.entry-row:nth-of-type(odd) div.row { background: #f9f9f9; }
div.entry-row:nth-of-type(odd) div.task-name-row { border-top: 1px dotted #dddddd; }
div.entry-row:nth-of-type(odd) div.comment-row { border-bottom: 1px dotted #dddddd; }

.select2-container .select2-choice {
	padding-top: 0.625em;
	padding-bottom: 0.5625em;
	line-height: 1;
	font-size: 0.8125em;
	height: auto;
	font-weight: bold;
}

.select2-results li { font-size: 0.85em !important; }

.error small { margin-top: -1em; }
.error small ul { margin-bottom: 0; }
.error small li { list-style-type: none; display: inline-block; }

div.task-description { font-size: 0.75em; padding: 5px 0; color: #138ec0; }

button, .button { background-color: #138ec0; border-color: #0F729A; }

button:hover, button:focus, .button:hover, .button:focus { background-color: #0F729A; }

/* custom switch color */
div.switch span:last-child {
	-webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 1000px #fff, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px whitesmoke;
	box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 980px #fff, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px whitesmoke;
}

div.item-switch { display:inline-block; min-width:120px; }

form.custom .custom.dropdown.medium { max-width: 100%; }

form.custom .custom.dropdown.open.medium ul { min-width: 100%; }

table thead, table tfoot { background-color: #d1d0d5; }

thead.sub-header { background-color: #eee; }
thead.sub-header th { font-weight: normal; font-style: italic; }