{% extends "base.html" %}
{% block title %}Manage Clients{% endblock %}
{% block content %}
    <section>
      <div class="row">
          <h4>Add a Client</h4>
      </div>

      <form method="post" action="/">
          {% csrf_token %}
          <div class="row">
              <input type="text" name="name" placeholder="Client Name" required />
          </div>
          <div class="row">
              <input type="submit" value="Add Client" />
          </div>
        </form>

    </section>

    <section>
      <div class="row">
          <h4>Clients</h4>
      </div>
      {% for client in clients %}
      <div class="row" data-id="{{client.id}}">
        <div class="large-9 columns">{{ client.name }}</div>
        <div class="large-3 columns">
          <button type="button" class="edit">Edit</button>
          <button type="button" class="delete">Delete</button>
        </div>
      </div>
      {% endfor %}
    </section>
{% endblock %}