{% extends "base.html" %}

{% block title %}Manage Customers{% endblock %}

{% block content %}
    <nav class="row">
      <dl class="sub-nav">
        <dt>Manage:</dt>
        <dd><a href="/employee">Employees</a></dd>
        <dd class="active"><a href="/customer">Customers</a></dd>
        <dd><a href="/client">Clients</a></dd>
        <dd><a href="/project">Projects</a></dd>
        <dd><a href="/task">Tasks</a></dd>
      </dl>
    </nav>


    <section>
      <div class="row">
        <h4>Add a Customer</h4>
      </div>

      <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="large-8 columns">
              <label>Name</label>
              <input type="text" name="name" placeholder="Enter a name" required />
            </div>
            <div class="large-8 columns">
              <label>Invoicing Id</label>
              <input type="text" name="invoicingId" placeholder="Enter an invoicing id" />
            </div>
        </div>
        <div class="row">
            <div class="large-16 columns text-right">
              <button class="small radius" name="add" type="submit">Add</button>
            </div>
        </div>
      </form>
    </section>

    <section>
      <div class="row">
        <h4>Customers</h4>
      </div>

      <div class="row">
        <div class="large-16 columns">
          <table class="large-16">
            <thead>
              <tr>
                <th class="large-10">Name</th>
                <th class="large-4">Invoicing Id</th>
                <th class="large-2 text-center">Action</th>
              </tr>
            </thead>

            <tbody>
            {% for item in customers %}
              <tr class="item" data-id="{{ item.id }}" data-name="{{ item.name }}" data-invoicingId="{{ item.invoicingId }}">
                <td class="large-10">{{ item.name }}</td>
                <td class="large-4">{{ item.invoicingId }}</td>
                <td class="large-2 text-center">
                  <button type="button" class="tiny radius edit">Edit</button>
                  <button type="button" class="tiny radius delete">Delete</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </section>


    <div id="edit-dialog" class="reveal-modal small">
      <h2>Edit Customer</h2>
      <p>
        <label>Name</label>
        <input class="item-name" type="text" placeholder="Enter a name" required/>
        <input class="item-id" type="hidden" />
      </p>
      <p>
        <label>Invoicing Id</label>
        <input class="item-invoicingId" type="text" placeholder="Enter an invoicing id" />
      </p>
      <p class="text-right">
        <button class="small radius cancel" type="button" data-dialog-id="edit-dialog">Cancel</button>
        <button class="small radius save" type="button">Save</button>
      </p>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="edit-success-dialog" class="reveal-modal small">
      <h2>Edit Customer</h2>
      <p>You have successfully updated the customer.</p>
      <p class="text-right">
        <button class="small radius cancel" type="button" data-dialog-id="edit-success-dialog">Done</button>
      </p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
{% endblock %}

{% block extrabody %}
    <script>

      function clearDialog() {
        $('#edit-dialog input.item-id').val('');
        $('#edit-dialog input.item-name').val('');
        $('#edit-dialog input.item-invoicingId').val('');
      }

      function setupDialog(target) {
        $('#edit-dialog input.item-id').val(target.attr('data-id'));
        $('#edit-dialog input.item-name').val(target.attr('data-name'));
        $('#edit-dialog input.item-invoicingId').val(target.attr('data-invoicingId'));
      }
      
      $('#edit-dialog').foundation('reveal');
      $('#edit-success-dialog').foundation('reveal');

      $('#edit-dialog').on('close', clearDialog);

      $('button.edit').click(function(event){
        var target = $(this);
        setupDialog(target.parents('tr.item'));
        $('#edit-dialog').foundation('reveal', 'open');
      });

      $('button.delete').click(function(event){
        var target = $(this);
        var row = target.parents('tr.item');
        var id = row.attr('data-id');

        if (confirm('Are you sure you want to delete this?')) {
          //TODO delete it
        }
      });

      $('#edit-dialog button.save').click(function(event){
        //TODO save the data
        // open success dialog
        $('#edit-success-dialog').foundation('reveal', 'open');
      });

      $('button.cancel').click(function(event){
        // close dialog
        var dialogId = $(this).data('dialog-id');
        $('#' + dialogId).foundation('reveal', 'close');
      });

    </script>
{% endblock %}
