{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  {% if request.session.employee.admin == True %}
    <nav class="row">
      <dl class="sub-nav">
        <dt>Manage:</dt>
        <dd><a href="/employee">Employees</a></dd>
        <dd><a href="/customer">Customers</a></dd>
        <dd><a href="/client">Clients</a></dd>
        <dd><a href="/project">Projects</a></dd>
        <dd><a href="/task">Tasks</a></dd>
        <dd><a href="/pto">PTO</a></dd>
        <dd><a href="/time">Time</a></dd>
      </dl>
    </nav>
  {% endif %}

  <section>

    {% if incomplete_week_count > 0 %}
    <div class="row">
        <h4>You have incomplete weeks</h4>
    </div>
    <div class="row">
        <div class="large-16 columns">
        {% for week in incomplete_weeks %}
        <h6>Please complete the week of <span style="color: #ef2f33;">{{ week }}</span></h6>
        {% endfor %}
        </div>
    </div>
      <div class="row">
        &nbsp;
    </div>
    {% endif %}


    <div class="row">
        <h4>Your PTO for {{ year }}</h4>
    </div>

    <div class="row">
      <div class="large-16 columns">
        <table class="large-16">
          <thead>
            <tr>
              <th class="large-1">Name</th>
              <th class="large-1 text-center">Jan</th>
              <th class="large-1 text-center">Feb</th>
              <th class="large-1 text-center">Mar</th>
              <th class="large-1 text-center">Apr</th>
              <th class="large-1 text-center">May</th>
              <th class="large-1 text-center">Jun</th>
              <th class="large-1 text-center">Jul</th>
              <th class="large-1 text-center">Aug</th>
              <th class="large-1 text-center">Sep</th>
              <th class="large-1 text-center">Oct</th>
              <th class="large-1 text-center">Nov</th>
              <th class="large-1 text-center">Dec</th>
              <th class="large-1 text-center">Used</th>
              <th class="large-1 text-center">Allocated</th>
              <th class="large-1 text-center">Available</th>
            </tr>
          </thead>

          <tbody>
          {% for item in pto %}
            <tr class="item">
              <td class="large-1">{{ item.task.name }}</td>
              <td class="large-1 text-center">{{ item.jan }}</td>
              <td class="large-1 text-center">{{ item.feb }}</td>
              <td class="large-1 text-center">{{ item.mar }}</td>
              <td class="large-1 text-center">{{ item.apr }}</td>
              <td class="large-1 text-center">{{ item.may }}</td>
              <td class="large-1 text-center">{{ item.jun }}</td>
              <td class="large-1 text-center">{{ item.jul }}</td>
              <td class="large-1 text-center">{{ item.aug }}</td>
              <td class="large-1 text-center">{{ item.sep }}</td>
              <td class="large-1 text-center">{{ item.oct }}</td>
              <td class="large-1 text-center">{{ item.nov }}</td>
              <td class="large-1 text-center">{{ item.dec }}</td>
              <td class="large-1 text-center">{{ item.used }}</td>
              <td class="large-1 text-center">{{ item.pto.hours }}</td>
              <td class="large-1 text-center">{{ item.left }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

{% endblock %}

{% block extrabody %}
    <script>

    </script>
{% endblock %}