<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Foundation 4</title>

    
    <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
    

    <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>
    <title>Manage Employees</title>
  </head> 
  <body>
    <nav>
      <ul>
        <li><a href="/employee">Manage Employees</a></li>
        <li><a href="/customer">Manage Customers</a></li>
        <li><a href="/client">Manage Clients</a></li>
        <li><a href="/project">Manage Projects</a></li>
        <li><a href="/task">Manage Tasks</a></li>
      </ul>
    </nav>
    <h1>Add a Employee</h1>
    <form method="post" action="/">
      {% csrf_token %}
      <div>
          <input type="text" name="name" placeholder="Employee Name" required>
      </div>
      <div>
          <input type="submit" value="Add Employee">
      </div>
    </form>

    <h1>Employees</h1>
<!-- Cycle through entries -->
    {% for employee in employees %}
    <div data-id="{{employee.id}}">
      <div>{{ employee.name }}</div>
      <div><button type="button" class="edit">Edit</button></div>
      <div><button type="button" class="delete">Delete</button></div>
    </div>
    {% endfor %}
  </body>
</html>
