{% extends "base.html" %}
{% block title %}Manage Employees{% endblock %}
{% block content %}
    <h1>Add a Employee</h1>
    <form method="post" action="/">
      {% csrf_token %}
      <div>
          <input type="text" name="name" placeholder="Employee Name" required>
      </div>
      <div>
          <input type="submit" value="Add Employee">
      </div>
    </form>

    <h1>Employees</h1>
<!-- Cycle through entries -->
    {% for employee in employees %}
    <div data-id="{{employee.id}}">
      <div>{{ employee.name }}</div>
      <div><button type="button" class="edit">Edit</button></div>
      <div><button type="button" class="delete">Delete</button></div>
    </div>
    {% endfor %}
{% endblock %}
