<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Enter Time</title>

  
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.min.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/default.css" />
  

  <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>
  <script src="{{STATIC_URL}}js/moment.min.js"></script>

  <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
  <script src="{{STATIC_URL}}js/templates.js"></script>

</head>
<body>

  <header class="text-right">
      <form method="POST" action="/logout/">
        {% csrf_token %}
        <span>{{ user.first_name }}&nbsp;{{ user.last_name }}&nbsp;&nbsp;|</span>
        <a href="#" onclick="this.form.submit();return false;">Logout</a>
      </form>
  </header>

	<div class="row">
		<div class="large-8 columns">
      <button class="small radius" type="button" onclick="window.location='/'">Today</button>
			<button class="small radius" type="button" onclick="window.location='/?weekId={{prev_weekId}}'">&lt;</button>
			<button class="small radius" type="button" onclick="window.location='/?weekId={{next_weekId}}'">&gt;</button>
    </div>
    <div class="large-8 columns text-right">
			<h3>{{ rangeTitle }}</h3>
		</div>
    <hr/>
	</div>


  {% load timetracker_extras %}


  <form method="POST" action="/?weekId={{ weekId }}">
    {% csrf_token %}

    <div class="row title-row">
    	<div class="large-2 columns sun-title">{{ sunTitle }}<br/><b>Sun</b></div>
  		<div class="large-2 columns mon-title">{{ monTitle }}<br/><b>Mon</b></div>
  		<div class="large-2 columns tue-title">{{ tueTitle }}<br/><b>Tue</b></div>
  		<div class="large-2 columns wed-title">{{ wedTitle }}<br/><b>Wed</b></div>
  		<div class="large-2 columns thu-title">{{ thuTitle }}<br/><b>Thu</b></div>
  		<div class="large-2 columns fri-title">{{ friTitle }}<br/><b>Fri</b></div>
  		<div class="large-2 columns sat-title">{{ satTitle }}<br/><b>Sat</b></div>
  		<div class="large-2 columns total-title"><br/><b>Total</b></div>
    </div>

    {{ time_entry_formset.management_form }}

    <div class="entry-rows">
      {% for f in time_entry_formset.forms %}
      <div class="entry-row">
      	<div class="row task-name-row">
      		<div class="large-14 columns">
      			<div class="task-name">{% get_task_name f.taskDefinitionId.value %} {{ f.taskDefinitionId.errors }}</div>
      			<div class="task-description">{% get_task_desc f.taskDefinitionId.value %} {{ f.rowId.errors }}</div>
      		</div>
          {{ f.taskDefinitionId }}
      		{{ f.rowId }}
      	</div>
      	<div class="row hours-row">
      		<div class="large-2 columns sun hours {% if f.sundayHours.errors %}error{% endif %}">
            {{ f.sundayHours }}
            {% if f.sundayHours.errors %}
            <small>{{ f.sundayHours.errors }}</small>
            {% endif %}
          </div>
      		<div class="large-2 columns mon hours {% if f.mondayHours.errors %}error{% endif %}">
            {{ f.mondayHours }}
            {% if f.mondayHours.errors %}
            <small>{{ f.mondayHours.errors }}</small>
            {% endif %}
          </div>
      		<div class="large-2 columns tue hours {% if f.tuesdayHours.errors %}error{% endif %}">
            {{ f.tuesdayHours }}
            {% if f.tuesdayHours.errors %}
            <small>{{ f.tuesdayHours.errors }}</small>
            {% endif %}
          </div>
      		<div class="large-2 columns wed hours {% if f.wednesdayHours.errors %}error{% endif %}">
            {{ f.wednesdayHours }}
            {% if f.wednesdayHours.errors %}
            <small>{{ f.wednesdayHours.errors }}</small>
            {% endif %}
          </div>
      		<div class="large-2 columns thu hours {% if f.thursdayHours.errors %}error{% endif %}">
            {{ f.thursdayHours }}
            {% if f.thursdayHours.errors %}
            <small>{{ f.thursdayHours.errors }}</small>
            {% endif %}
          </div>
      		<div class="large-2 columns fri hours {% if f.fridayHours.errors %}error{% endif %}">
            {{ f.fridayHours }}
            {% if f.fridayHours.errors %}
            <small>{{ f.fridayHours.errors }}</small>
            {% endif %}
          </div>
      		<div class="large-2 columns sat hours {% if f.saturdayHours.errors %}error{% endif %}">
            {{ f.saturdayHours }}
            {% if f.saturdayHours.errors %}
            <small>{{ f.saturdayHours.errors }}</small>
            {% endif %}
          </div>
      		<div class="large-2 columns row-total"></div>
      	</div>
      	<div class="row comment-row">
      		<div class="large-14 columns comment {% if f.comment.errors %}error{% endif %}">
  	    		{{ f.comment }}
            {% if f.comment.errors %}
            <small>{{ f.comment.errors }}</small>
            {% endif %}
  	    	</div>
      	</div>
      </div>
      {% endfor %}
    </div>

    <div class="row grand-total-row">
      <div class="large-2 columns sun-total"><span></span></div>
      <div class="large-2 columns mon-total"><span></span></div>
      <div class="large-2 columns tue-total"><span></span></div>
      <div class="large-2 columns wed-total"><span></span></div>
      <div class="large-2 columns thu-total"><span></span></div>
      <div class="large-2 columns fri-total"><span></span></div>
      <div class="large-2 columns sat-total"><span></span></div>
      <div class="large-2 columns grand-total"></div>
    </div>

    <div class="row controls-row">
      <div class="large-12 columns">
        <select id="task-select">
          <option>Select a task</option>
          {% for key,value in tasks_map.items %}
          <optgroup label="{{ key }}">
            {% for task in value %}
          <option value="{{ task.id }}">{{ task.name }}</option>
            {% endfor %}
          </optgroup>
          {% endfor %}
        </select>
      </div>
      <div class="large-2 columns text-right"><button class="small radius" type="button" id="add-btn">Add Task</button></div>
      <div class="large-2 columns text-right"><button  class="small radius" type="submit" id="save-btn">Save</button></div>
    </div>
  </form>


  <script src="{{STATIC_URL}}js/vendor/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.min.js"></script>
  <script src="{{STATIC_URL}}js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  -->
  
  <script>

    $(document).foundation();

    $("#task-select").select2();


  	function updateTotals() {
  		// update totals
  		$('div.hours-row').each(function(){
  			var total = 0;
  			$('div.hours input', this).each(function(){
  				total += parseFloat($(this).val());
  			});
  			$('div.row-total', this).html(total.toFixed(2));
  		});

  		var sunTotal = 0;
  		var grandTotal = 0;
  		$('div.sun.hours input').each(function(){
  			sunTotal += parseFloat($(this).val()); 
  		});
  		$('div.sun-total span').html(sunTotal);
  		grandTotal += sunTotal;

  		var monTotal = 0;
  		$('div.mon.hours input').each(function(){
  			monTotal += parseFloat($(this).val()); 
  		});
  		$('div.mon-total span').html(monTotal);
  		grandTotal += monTotal;

  		var tueTotal = 0;
  		$('div.tue.hours input').each(function(){
  			tueTotal += parseFloat($(this).val()); 
  		});
  		$('div.tue-total span').html(tueTotal);
  		grandTotal += tueTotal;

  		var wedTotal = 0;
  		$('div.wed.hours input').each(function(){
  			wedTotal += parseFloat($(this).val()); 
  		});
  		$('div.wed-total span').html(wedTotal);
  		grandTotal += wedTotal;

  		var thuTotal = 0;
  		$('div.thu.hours input').each(function(){
  			thuTotal += parseFloat($(this).val()); 
  		});
  		$('div.thu-total span').html(thuTotal);
  		grandTotal += thuTotal;

  		var friTotal = 0;
  		$('div.fri.hours input').each(function(){
  			friTotal += parseFloat($(this).val()); 
  		});
  		$('div.fri-total span').html(friTotal);
  		grandTotal += friTotal;

  		var satTotal = 0;
  		$('div.sat.hours input').each(function(){
  			satTotal += parseFloat($(this).val()); 
  		});
  		$('div.sat-total span').html(satTotal);
  		grandTotal += satTotal;

  		$('div.grand-total').html(grandTotal.toFixed(2));
  	}

  	updateTotals();

  	$('div.hours input').keyup(updateTotals);



    var formCount = $('div.entry-row').length;

    $('#add-btn').click(function(){

      var data = {
        'taskName': 'Tech Lead ',
        'taskDescription': 'SRA International, Inc - TSA SOC Site ',
        'taskDefinitionId': '51ce8bae706cc7032a5240cc',
        'formId': formCount
      };

      $('div.entry-rows').append(timeEntryRow.render(data));

      $('div.hours input').unbind('keyup', updateTotals);
      $('div.hours input').keyup(updateTotals);

      // set form count to actual count
      $('#id_form-TOTAL_FORMS').val($('div.entry-row').length);

      formCount++;

    });

  </script>
</body>
</html>
