<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Time Entry</title>

  
  <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/default.css" />
  

  <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>
  <script src="{{STATIC_URL}}js/moment.min.js"></script>

</head>
<body>

	<div class="row">
		<div class="large-16 columns">
			<a href="/?weekId={{prev_weekId}}">Prev</a>
			<a href="/?weekId={{next_weekId}}">Next</a>
			<h2>Enter Time</h2>
			<form method="POST" action="/logout/">
				{% csrf_token %}
				<button type="submit">logout</button>
			</form>
			<hr />
		</div>
	</div>

    <div class="row title-row">
    	<div class="large-2 columns sun-title">Sun</div>
		<div class="large-2 columns mon-title">Mon</div>
		<div class="large-2 columns tue-title">Tue</div>
		<div class="large-2 columns wed-title">Wed</div>
		<div class="large-2 columns thu-title">Thu</div>
		<div class="large-2 columns fri-title">Fri</div>
		<div class="large-2 columns sat-title">Sat</div>
		<div class="large-2 columns total-title">Total</div>
    </div>

    {% for f in time_entry_formset.forms %}
    	<div class="row hours-row">
    		{{ f.taskDefinitionId }}
    		{{ f.rowId }}
    		<div class="large-2 columns sun hours">{{ f.sundayHours.errors }}{{ f.sundayHours }}</div>
    		<div class="large-2 columns mon hours">{{ f.mondayHours.errors }}{{ f.mondayHours }}</div>
    		<div class="large-2 columns tue hours">{{ f.tuesdayHours.errors }}{{ f.tuesdayHours }}</div>
    		<div class="large-2 columns wed hours">{{ f.wednesdayHours.errors }}{{ f.wednesdayHours }}</div>
    		<div class="large-2 columns thu hours">{{ f.thursdayHours.errors }}{{ f.thursdayHours }}</div>
    		<div class="large-2 columns fri hours">{{ f.fridayHours.errors }}{{ f.fridayHours }}</div>
    		<div class="large-2 columns sat hours">{{ f.saturdayHours.errors }}{{ f.saturdayHours }}</div>
    		<div class="large-2 columns row-total"></div>
    	</div>
    {% endfor %}

    <div class="row grand-total-row">
    	<div class="large-2 columns sun-total"><span></span></div>
		<div class="large-2 columns mon-total"><span></span></div>
		<div class="large-2 columns tue-total"><span></span></div>
		<div class="large-2 columns wed-total"><span></span></div>
		<div class="large-2 columns thu-total"><span></span></div>
		<div class="large-2 columns fri-total"><span></span></div>
		<div class="large-2 columns sat-total"><span></span></div>
		<div class="large-2 columns grand-total"></div>
    </div>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{STATIC_URL}}js/vendor/zepto' : '{{STATIC_URL}}js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="{{STATIC_URL}}js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  -->
  
  <script>

  	function updateTotals() {
  		// update totals
  		$('div.hours-row').each(function(){
  			var total = 0;
  			$('div.hours input', this).each(function(){
  				total += parseFloat($(this).val());
  			});
  			$('div.row-total', this).html(total.toFixed(2));
  		});

  		var sunTotal = 0;
  		var grandTotal = 0;
  		$('div.sun.hours input').each(function(){
  			sunTotal += parseFloat($(this).val()); 
  		});
  		$('div.sun-total span').html(sunTotal);
  		grandTotal += sunTotal;

  		var monTotal = 0;
  		$('div.mon.hours input').each(function(){
  			monTotal += parseFloat($(this).val()); 
  		});
  		$('div.mon-total span').html(monTotal);
  		grandTotal += monTotal;

  		var tueTotal = 0;
  		$('div.tue.hours input').each(function(){
  			tueTotal += parseFloat($(this).val()); 
  		});
  		$('div.tue-total span').html(tueTotal);
  		grandTotal += tueTotal;

  		var wedTotal = 0;
  		$('div.wed.hours input').each(function(){
  			wedTotal += parseFloat($(this).val()); 
  		});
  		$('div.wed-total span').html(wedTotal);
  		grandTotal += wedTotal;

  		var thuTotal = 0;
  		$('div.thu.hours input').each(function(){
  			thuTotal += parseFloat($(this).val()); 
  		});
  		$('div.thu-total span').html(thuTotal);
  		grandTotal += thuTotal;

  		var friTotal = 0;
  		$('div.fri.hours input').each(function(){
  			friTotal += parseFloat($(this).val()); 
  		});
  		$('div.fri-total span').html(friTotal);
  		grandTotal += friTotal;

  		var satTotal = 0;
  		$('div.sat.hours input').each(function(){
  			satTotal += parseFloat($(this).val()); 
  		});
  		$('div.sat-total span').html(satTotal);
  		grandTotal += satTotal;

  		$('div.grand-total').html(grandTotal.toFixed(2));
  	}


  	updateTotals();

    $(document).foundation();

  	$('div.hours input').keyup(updateTotals);

  </script>
</body>
</html>
