<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Enter Time</title>

  
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.min.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/default.css" />
  

  <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>
  <script src="{{STATIC_URL}}js/moment.min.js"></script>

  <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
  <script src="{{STATIC_URL}}js/templates.js"></script>

</head>
<body>

	<div class="row">
		<div class="large-16 columns">
      <a href="/">Today</a>
			<a href="/?weekId={{prev_weekId}}">Prev</a>
			<a href="/?weekId={{next_weekId}}">Next</a>
			<h2>Enter Time {{ rangeTitle }}</h2>
			<form method="POST" action="/logout/">
				{% csrf_token %}
				<button class="small radius" type="submit">Logout</button>
			</form>
			<hr />
		</div>
	</div>


  {% load timetracker_extras %}


  <form method="POST" action="/?weekId={{ weekId }}">
    {% csrf_token %}

    <div class="row title-row">
    	<div class="large-2 columns sun-title">Sun<br/>{{ sunTitle }}</div>
  		<div class="large-2 columns mon-title">Mon<br/>{{ monTitle }}</div>
  		<div class="large-2 columns tue-title">Tue<br/>{{ tueTitle }}</div>
  		<div class="large-2 columns wed-title">Wed<br/>{{ wedTitle }}</div>
  		<div class="large-2 columns thu-title">Thu<br/>{{ thuTitle }}</div>
  		<div class="large-2 columns fri-title">Fri<br/>{{ friTitle }}</div>
  		<div class="large-2 columns sat-title">Sat<br/>{{ satTitle }}</div>
  		<div class="large-2 columns total-title">Total</div>
    </div>

    {{ time_entry_formset.management_form }}

    <div class="entry-rows">
      {% for f in time_entry_formset.forms %}
      <div class="entry-row">
      	<div class="row task-name-row">
      		<div class="large-14 columns">
      			<div class="task-name">{% get_task_name f.taskDefinitionId.value %} {{ f.taskDefinitionId.errors }}</div>
      			<div class="task-description">{% get_task_desc f.taskDefinitionId.value %} {{ f.rowId.errors }}</div>
      		</div>
          {{ f.taskDefinitionId }}
      		{{ f.rowId }}
      	</div>
      	<div class="row hours-row">
      		<div class="large-2 columns sun hours">{{ f.sundayHours.errors }}{{ f.sundayHours }}</div>
      		<div class="large-2 columns mon hours">{{ f.mondayHours.errors }}{{ f.mondayHours }}</div>
      		<div class="large-2 columns tue hours">{{ f.tuesdayHours.errors }}{{ f.tuesdayHours }}</div>
      		<div class="large-2 columns wed hours">{{ f.wednesdayHours.errors }}{{ f.wednesdayHours }}</div>
      		<div class="large-2 columns thu hours">{{ f.thursdayHours.errors }}{{ f.thursdayHours }}</div>
      		<div class="large-2 columns fri hours">{{ f.fridayHours.errors }}{{ f.fridayHours }}</div>
      		<div class="large-2 columns sat hours">{{ f.saturdayHours.errors }}{{ f.saturdayHours }}</div>
      		<div class="large-2 columns row-total"></div>
      	</div>
      	<div class="row comment-row">
      		<div class="large-14 columns comment">
  	    		{{ f.comment.errors }}{{ f.comment }}
  	    	</div>
      	</div>
      </div>
      {% endfor %}
    </div>

    <div class="row grand-total-row">
      <div class="large-2 columns sun-total"><span></span></div>
      <div class="large-2 columns mon-total"><span></span></div>
      <div class="large-2 columns tue-total"><span></span></div>
      <div class="large-2 columns wed-total"><span></span></div>
      <div class="large-2 columns thu-total"><span></span></div>
      <div class="large-2 columns fri-total"><span></span></div>
      <div class="large-2 columns sat-total"><span></span></div>
      <div class="large-2 columns grand-total"></div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <select id="task-select">
          <option>Select a task</option>
          {% for task in tasks %}
          <option value="{{ task.id }}">{{ task.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="large-8 columns"><button class="small radius" type="button" id="add-btn">Add Task</button></div>
      <div class="large-2 columns text-right"><button  class="small radius" type="submit" id="save-btn">Save</button></div>
    </div>
  </form>


  <script src="{{STATIC_URL}}js/vendor/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.min.js"></script>
  <script src="{{STATIC_URL}}js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  -->
  
  <script>

    $(document).foundation();

    $("#task-select").select2();


  	function updateTotals() {
  		// update totals
  		$('div.hours-row').each(function(){
  			var total = 0;
  			$('div.hours input', this).each(function(){
  				total += parseFloat($(this).val());
  			});
  			$('div.row-total', this).html(total.toFixed(2));
  		});

  		var sunTotal = 0;
  		var grandTotal = 0;
  		$('div.sun.hours input').each(function(){
  			sunTotal += parseFloat($(this).val()); 
  		});
  		$('div.sun-total span').html(sunTotal);
  		grandTotal += sunTotal;

  		var monTotal = 0;
  		$('div.mon.hours input').each(function(){
  			monTotal += parseFloat($(this).val()); 
  		});
  		$('div.mon-total span').html(monTotal);
  		grandTotal += monTotal;

  		var tueTotal = 0;
  		$('div.tue.hours input').each(function(){
  			tueTotal += parseFloat($(this).val()); 
  		});
  		$('div.tue-total span').html(tueTotal);
  		grandTotal += tueTotal;

  		var wedTotal = 0;
  		$('div.wed.hours input').each(function(){
  			wedTotal += parseFloat($(this).val()); 
  		});
  		$('div.wed-total span').html(wedTotal);
  		grandTotal += wedTotal;

  		var thuTotal = 0;
  		$('div.thu.hours input').each(function(){
  			thuTotal += parseFloat($(this).val()); 
  		});
  		$('div.thu-total span').html(thuTotal);
  		grandTotal += thuTotal;

  		var friTotal = 0;
  		$('div.fri.hours input').each(function(){
  			friTotal += parseFloat($(this).val()); 
  		});
  		$('div.fri-total span').html(friTotal);
  		grandTotal += friTotal;

  		var satTotal = 0;
  		$('div.sat.hours input').each(function(){
  			satTotal += parseFloat($(this).val()); 
  		});
  		$('div.sat-total span').html(satTotal);
  		grandTotal += satTotal;

  		$('div.grand-total').html(grandTotal.toFixed(2));
  	}

  	updateTotals();

  	$('div.hours input').keyup(updateTotals);



    var formCount = $('div.entry-row').length;

    $('#add-btn').click(function(){

      var data = {
        'taskName': 'Tech Lead ',
        'taskDescription': 'SRA International, Inc - TSA SOC Site ',
        'taskDefinitionId': '51ce8bae706cc7032a5240cc',
        'formId': formCount
      };

      $('div.entry-rows').append(timeEntryRow.render(data));

      $('div.hours input').unbind('keyup', updateTotals);
      $('div.hours input').keyup(updateTotals);

      // set form count to actual count
      $('#id_form-TOTAL_FORMS').val($('div.entry-row').length);

      formCount++;

    });

  </script>
</body>
</html>
