{% extends "base.html" %}
{% block title %}Manage Employees{% endblock %}
{% block content %}
    <h1>Add a Project</h1>
    <form method="post" action="/">
      {% csrf_token %}
      <div>
          <input type="text" name="name" placeholder="Project Name" required>
      </div>
      <div>
          <input type="submit" value="Add Project">
      </div>
    </form>

    <h1>Projects</h1>
<!-- Cycle through entries -->
    {% for project in projects %}
    <div data-id="{{project.id}}">
      <div>{{ project.name }}</div>
      <div><button type="button" class="edit">Edit</button></div>
      <div><button type="button" class="delete">Delete</button></div>
    </div>
    {% endfor %}
{% endblock %}
