{% extends "base.html" %}

{% block title %}Manage PTO{% endblock %}

{% block content %}
    <nav class="row">
      <dl class="sub-nav">
        <dt>Manage:</dt>
        <dd><a href="/employee">Employees</a></dd>
        <dd><a href="/customer">Customers</a></dd>
        <dd><a href="/client">Clients</a></dd>
        <dd><a href="/project">Projects</a></dd>
        <dd><a href="/task">Tasks</a></dd>
        <dd class="active"><a href="/pto">PTO</a></dd>
        <dd><a href="/time">Time</a></dd>
      </dl>
    </nav>


    <section>
      <div class="preloader" style="z-index: 100;"></div>

      <div class="row">
          <h4>Paid Time Off: {{year}}</h4>
          <button class="small radius" type="button" onclick="window.location='/pto/'">Current</button>
          <button class="small radius" type="button" onclick="window.location='/pto/?year={{prev_year}}'">&lt;</button>
          <button class="small radius" type="button" onclick="window.location='/pto/?year={{next_year}}'">&gt;</button>
      </div>

      <div class="loader" style="visibility: hidden;">
        <div class="row section-container vertical-tabs" data-section="vertical-tabs">
          {% for key,value in pto_map.items %}
          <section>
            <p class="title" data-section-title><a href="#">{{key.name}}</a></p>
            <div class="content" data-section-content>
              <div class="row">
                <div class="large-16 columns">
                    <h6>{{ key.name }}</h6>
                    {% csrf_token %}
                    <table class="large-16">
                      <thead>
                        <tr>
                          <th class="large-14">Name</th>
                          <th class="large-2 text-right">Hours</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for item in value %}
                        <tr class="item">
                          <td class="large-14">{{ item.task.name }}</td>
                          <td class="large-2 text-right pto-hours">
                            <input type="text" class="text-right" name="hours" data-id="{{ item.pto.id }}" data-taskdefinitionid="{{ item.pto.taskDefinitionId }}" data-employee="{{ item.pto.employee }}" value="{{ item.pto.hours }}" />
                            <small>Required</small>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <button type="button" name="save" class="radius small right">Save</button>

                </div>
              </div>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>

    </section>

{% endblock %}

{% block extrabody %}
    <script>
      $(function(){

        setTimeout(function() {

          $('.preloader').hide();
          $('.loader').css('visibility', '');

        }, 500);
      });

      $('input[name="hours"]').keydown(preventText);

      $('button[name="save"]').click(function(event) {
        var target = $(event.currentTarget);
        var data = [];
        var errors = false;

        $('input[name="hours"]', target.parent()).each(function(){
          var hours = $(this).val();
          var id = $(this).attr('data-id');
          var employee = $(this).attr('data-employee');
          var task = $(this).attr('data-taskdefinitionid');

          if (isNaN(hours) || hours.length == 0) {
            $(this).parent().addClass('error');
            errors = true
          } else {
            $(this).parent().removeClass('error');
          }

          data.push({
            id: id,
            taskDefinitionId: task,
            employee: employee,
            hours: hours
          });
        });

        if (!errors) {
          $.ajax({
            url: '/pto/?year={{year}}',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function() {
              alert("Changes saved successfully");
            },
            error: function() {
              alert("An error occured");
            }
          });
        }

      });

    </script>
{% endblock %}