{% extends "base.html" %}
{% block title %}Manage Employees{% endblock %}
{% block content %}
    <h1>Add a Task</h1>
    <form method="post" action="/">
      {% csrf_token %}
      <div>
          <input type="text" name="name" placeholder="Task Name" required>
      </div>
      <div>
          <input type="submit" value="Add Task">
      </div>
    </form>

    <h1>Tasks</h1>
<!-- Cycle through entries -->
    {% for task in tasks %}
    <div data-id="{{task.id}}">
      <div>{{ task.name }}</div>
      <div><button type="button" class="edit">Edit</button></div>
      <div><button type="button" class="delete">Delete</button></div>
    </div>
    {% endfor %}
{% endblock %}
